<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Run & Dine</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>

          <v-snackbar v-model='snack.visible' :color='snack.color' auto-height>
            <ul style='list-style: none'>
              <li v-for='item in snack.items'>
                {{ item }}
              </li>
            </ul>
          </v-snackbar>

          <v-card>
            <v-card-title>
              <v-tabs v-model="tabs" slot="extension">
                <v-tab>Teams</v-tab>
                <v-tab>Matching</v-tab>
                <v-tab>Templates</v-tab>
                <v-tab>Mails</v-tab>
              </v-tabs>
            </v-card-title>
            <v-card-text>
              <v-tabs-items v-model='tabs'>

                <view-teams v-model='teams' v-bind:snack.sync='snack'>
                </view-teams>

                <view-matching v-model='match' v-bind:teams='teams'>
                </view-matching>

                <view-templates v-model='templates' v-bind:snack.sync='snack'>
                </view-templates>

                <view-mails
                  v-bind:templates='templates'
                  v-bind:teams='teams'
                  v-bind:match='match'>
                </view-mails>

              </v-tabs-items>
            </v-card-text>
          </v-card>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

  <script src="js/lib/chance.js"></script>
  <script src="js/lib/fuzzysearch.js"></script>
  <script src="js/lib/papaparse.min.js"></script>

  <script src="js/Util.js"></script>
  <script src="js/libmatching.js"></script>

  <script src="js/Components.js"></script>
  <script src="js/Teams.js"></script>
  <script src="js/Matching.js"></script>
  <script src="js/Templates.js"></script>
  <script src="js/Mails.js"></script>
  <script>
    Vue.prototype.fuzzyFilter = (i, q, it) =>
      fuzzysearch(q.toLowerCase(), it.toLowerCase());
    new Vue({
      el: '#app',
      data: {
        tabs: 0,

        teams: [],

        snack: {
          visible: false,
          color: 'error',
          items: [],
        },

        match: null,

        templates: {
          'starter': 'no starter template',
          'main': 'no main template',
          'dessert': 'no dessert template',
        },
      },
    })
  </script>
</body>
</html>
